<h1><%= @task.title %></h1>

<h2><%= @task.details %></h2>


<%= link_to "Edit this task", edit_path %>
<%= link_to "Go back to the menu", tasks_path %>
<%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
